name: Cleanup Azure VMs

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to identify the VMs to be cleaned up'
        required: true
        type: string
      vmname1:
        description: 'Name of the first VM to be cleaned up'
        required: true
        type: string
      vmname2:
        description: 'Name of the second VM to be cleaned up'
        required: true
        type: string
  workflow_call:
    inputs:
      tag:
        description: 'Tag to identify the VMs to be cleaned up'
        required: true
        type: string
      vmname1:
        description: 'Name of the first VM to be cleaned up'
        required: true
        type: string
      vmname2:
        description: 'Name of the second VM to be cleaned up'
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      PERSONAL_ACCESS_TOKEN:
        required: true

permissions: write-all

jobs:
  # Finds all self hosted runners with a specific TAG and deletes them.
  delete-github-runner:
    permissions: write-all
    name: Delete GitHub Runner
    runs-on: windows-latest
    if: ${{ always() }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - name: Delete temporary self hosted runners.
      shell: bash
      env:
        TAG: ${{ inputs.tag }}
      run: |
        RUNNERS_JSON=$(curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: token ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "https://api.github.com/repos/microsoft/netperf/actions/runners")

        RUNNER_ID=$(echo $RUNNERS_JSON | jq ".runners[] | select(.labels[].name == \"$TAG\") | .id")

        echo "Runner IDs to be removed: "

        echo $RUNNER_ID | tr ' ' '\n' | xargs -I id_to_remove echo "id_to_remove"

        echo "Removing runners now: "

        for ID in $(echo $RUNNER_ID | tr ',' ' '); do curl -L -X DELETE -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.PERSONAL_ACCESS_TOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" "https://api.github.com/repos/microsoft/netperf/actions/runners/$ID"; done

  delete-azure-vms:
    name: Delete Azure Vms
    needs: [delete-github-runner]
    runs-on: windows-latest
    if: ${{ always() }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - name: Install Latest Az PowerShell Module
      shell: pwsh
      run: |
        Install-Module -Name Az -Force -AllowClobber -Repository PSGallery
        Update-Module Az -Force
        Get-Module 'Az' | where {([string]($_.Version)).StartsWith('9.3.0')} | Remove-Module
        Get-Module -Name Az -ListAvailable
    - name: Login to Azure
      uses: azure/login@6c251865b4e6290e7b78be643ea2d005bc51f69a # v2.1.1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true
    - name: Delete Azure VMs
      shell: pwsh
      run: |
        ./.github/workflows/remove-azure-machine.ps1 -VMName ${{ inputs.vmname1 }}
        ./.github/workflows/remove-azure-machine.ps1 -VMName ${{ inputs.vmname2 }}
