# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

# This workflow will download the cts traffic generator and run it against a target.

name: cts_traffic

on:
  # Permit manual runs of the workflow.
  workflow_dispatch:
    inputs:
      ref:
        description: 'CTS Trafic Branch or Commit'
        required: false
        default: 'main'
        type: string
      profile:
        description: 'Capture CPU profile'
        required: false
        default: false
        type: boolean

  pull_request:
    branches:
    - main
    paths:
    - .github/workflows/cts_traffic.yml
  

concurrency:
  group: ctstraffic-${{ github.event.client_payload.pr || github.event.client_payload.sha || inputs.ref || github.event.pull_request.number || 'main' }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build cts-traffic test tool
    uses: microsoft/ctsTraffic/.github/workflows/reusable-build.yml@master
    with:
      build_artifact: cts-traffic
      repository: 'microsoft/ctsTraffic'
      configurations: '["Release"]'
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'master' }}

  test:
    name: Test CTS Traffic
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { env: "azure", os: "2022", arch: "x64" },
          { env: "azure", os: "2025", arch: "x64" },
          { env: "lab",   os: "2022", arch: "x64" },
        ]
    runs-on:
    - self-hosted
    - ${{ matrix.vec.env }}
    - os-windows-${{ matrix.vec.os }}
    - ${{ matrix.vec.arch }}

    steps:
    - name: Setup workspace
      run: |
        if (Test-Path ${{ github.workspace }}\xdp) { Remove-Item -Recurse -Force ${{ github.workspace }}\cts-traffic }
        if (Test-Path ${{ github.workspace }}\ETL) { Remove-Item -Recurse -Force ${{ github.workspace }}\ETL }
        New-item -ItemType Directory -Path ${{ github.workspace }}\cts-traffic
        New-item -ItemType Directory -Path ${{ github.workspace }}\ETL

    - name: Download cts-traffic
      uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe
      with:
        name: "cts-traffic Release"
        path: ${{ github.workspace }}\cts-traffic

    - name: Start Windows Performance Recorder
      if: ${{ github.event.inputs.profile }}
      run: |
        wpr -start CPU -filemode 

    - name: Run CTS cts-traffic
      working-directory: ${{ github.workspace }}\cts-traffic
      # Note: The script is not in the repository, but is downloaded from the web.
      # The resulting CSV file's header is updated to match the format produced by the BPF performance tests.
      # The "Average Duration (ns)" column is the metric of interest.
      run: |
        dir .
        $url = "https://raw.githubusercontent.com/microsoft/bpf_performance/main/scripts/two-machine-perf.ps1"
        iex "& { $(irm $url) }"

    - name: Stop Windows Performance Recorder
      if: ${{ github.event.inputs.profile }}
      run: |
        wpr -stop ${{ github.workspace }}\ETL\ctsTrafficResults.etl

    - name: Upload CTS cts-traffic results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: cts_traffic_${{ matrix.vec.env }}_${{ matrix.vec.os }}_${{ matrix.vec.arch }}
        path: ${{ github.workspace }}\cts-traffic\ctsTrafficResults.csv 

    - name: Upload ETL
      if: ${{ github.event.inputs.profile }}
      uses: actions/upload-artifact@v2
      with:
        name: cts_traffic_${{ matrix.vec.env }}_${{ matrix.vec.os }}_${{ matrix.vec.arch }}_ETL
        path: ${{ github.workspace }}\ETL\ctsTrafficResults.etl

    - name: Cleanup workspace
      if: always()
      run: |
        if (Test-Path ${{ github.workspace }}\cts-traffic) { Remove-Item -Recurse -Force ${{ github.workspace }}\cts-traffic }
        if (Test-Path ${{ github.workspace }}\ETL) { Remove-Item -Recurse -Force ${{ github.workspace }}\ETL }
