name: Custom Tasks

on:
  workflow_dispatch:

permissions: read-all

jobs:
  enable-logs: # This would be 1 enumeration, after CTS has setup the environment with the correct OS type and version.
    name: Enable Logs
    runs-on:
    - self-hosted
    - "x64"
    - "secnetperf"
    - "windows"
    steps:
    - name: Capture Logs
      shell: pwsh
      run: |
        Write-Host 'Connecting to netperf-peer'
        $Session = New-PSSession -ComputerName "netperf-peer" -ConfigurationName PowerShell.7
        Write-Host 'Killing any previous secnetperf'
        Invoke-Command -Session $Session -ScriptBlock {
            Get-Process | Where-Object { $_.Name -eq "secnetperf" } | Stop-Process
        }
        Write-Host 'Starting logs'
        Invoke-Command -Session $Session -ScriptBlock {
            C:\_work\quic\scripts\log.ps1 -Start -Profile Full.Verbose -ProfileInScriptDirectory
        }
        Write-Host 'Starting secnetperf'
        $Job = Invoke-Command -Session $Session -ScriptBlock {
            C:\_work\quic\artifacts\bin\windows\x64_Release_schannel\secnetperf.exe
        } -AsJob
        Start-Sleep 1
        Stop-Job -Job $Job
        $RemoteResult = Receive-Job -Job $Job
        Write-Host ($RemoteResult -join "`n")
        Write-Host 'Killing secnetperf (if running) and stopping logs'
        Invoke-Command -Session $Session -ScriptBlock {
            Get-Process | Where-Object { $_.Name -eq "secnetperf" } | Stop-Process
            C:\_work\quic\scripts\log.ps1 -Stop -OutputPath C:\_work\quic\logs\quic -RawLogOnly
            dir C:\_work\quic\logs
        }
        Write-Host 'Setting up log folder'
        Remove-Item .\artifacts\logs -Force -Recurse -ErrorAction Continue | Out-Null
        mkdir .\artifacts\logs | Out-Null
        Write-Host 'Copying out log files'
        Copy-Item -FromSession $Session C:\_work\quic\logs\* .\artifacts\logs
        Write-Host 'Deleting log files from remote'
        Invoke-Command -Session $Session -ScriptBlock {
            del C:\_work\quic\logs\*
        }
    - name: Upload Logs
      if: ${{ always() }}
      uses: actions/upload-artifact@694cdabd8bdb0f10b2cea11669e1bf5453eed0a6 # v4.2.0
      with:
        name: logs
        path: artifacts/logs
