name: Custom Tasks

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      ref:
        description: 'XDP Branch or Commit'
        required: true
        type: string

permissions: write-all

jobs:
  build-xdp:
    name: Build XDP
    permissions:
      security-events: write  # For CodeQL
    uses: microsoft/xdp-for-windows/.github/workflows/build_matrix.yml@main
