name: Custom Tasks

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'Windows OS Version'
        required: false
        default: "2022"
        type: choice
        options:
          - "2025"
          - "2022"
          - "2019"

permissions: write-all

jobs:
#
# Cleanup temporary VMs
#
  job1:
    runs-on: ubuntu-latest
    outputs:
      my_output: ${{ steps.set_output.outputs.value }}
      matrix: ${{ steps.filter.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - id: filter
        run: echo "::set-output name=matrix::$(jq -c '.' ./.github/workflows/matrix.json)"

  job2:
    needs: job1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include: ${{fromJson(needs.job1.outputs.matrix)}}
    steps:
      - name: Use output from job1
        run: echo "The output from job1 is ${{ matrix.io }}"

