name: Custom Tasks

on:
  workflow_dispatch:
    inputs:
      os:
        description: 'Windows OS Version'
        required: false
        default: "2022"
        type: choice
        options:
          - "2025"
          - "2022"
          - "2019"

permissions: write-all

jobs:
  build-unix:
    name: Build Unix
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-20.04']
        tls: [openssl] # , openssl3]
    uses: microsoft/msquic/.github/workflows/build-reuse-unix.yml@main
    with:
      os: ${{ matrix.os }}
      tls: ${{ matrix.tls }}
      build: -Perf
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}


  testjob:
    needs: [build-unix]
    strategy:
      matrix:
        role: ["client", "server"]
    runs-on: [self-hosted, 1ES.Pool=netperf-aztestpool-linux]
    steps:
      - name: (Server) Upload IP address to shared cache
        if: ${{ matrix.role == 'server' }}
        run: |
          $ipAddress = ip addr | grep 'inet ' | grep '10' | awk '{print $2}' | cut -d'/' -f1
          $headers = @{
            "secret" = "${{ secrets.NETPERF_SYNCER_SECRET }}"
          }
          Invoke-WebRequest -Uri "https://netperfapiwebapp.azurewebsites.net/setkeyvalue?key=${{ github.run_id }}_ipaddress&value=$ipAddress" -Headers $headers -Method Post
        shell: pwsh

      - name: Download Artifacts
        uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
        with:
          name: Release-linux-ubuntu-20.04-x64-openssl-Perf
          path: artifacts

      - name: (Server) Checkout netperf repo
        if: ${{ matrix.role == 'server' }}
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          repository: microsoft/netperf
          ref: 'jackhe/1es-azure-pools'

      - name: (Server) Polls for client instructions
        if: ${{ matrix.role == 'server' }}
        run: |
          $found = $false
          $headers = @{
            "secret" = "${{ secrets.NETPERF_SYNCER_SECRET }}"
          }
          $url = "https://netperfapiwebapp.azurewebsites.net"
          $ApprovedCommandsJson = Get-Content -Path "approved-commands.json" -Raw
          do {
            Write-Output "Polling for client state..."
            try {
              $Response = Invoke-WebRequest -Uri "$url/getkeyvalue?key=${{ github.run_id }}_state" -Headers $headers
              if (!($Response.StatusCode -eq 200)) {
                throw "Failed to get client instructions: $($Response.StatusCode)"
              }
              $data = $Response.Content
              $dataJson = ConvertFrom-Json $data
              if ($dataJson.SeqNum -lt $dataJson.Commands.Count) {
                $command = $dataJson.Commands[$dataJson.SeqNum]
                $dataJson.SeqNum++
                $dataJson = @{
                  value=$dataJson
                }
                $body = $dataJson | ConvertTo-Json
                $Update = Invoke-WebRequest -Uri "$url/setkeyvalue?key=${{ github.run_id }}_state" -Headers $headers -Method POST -Body $body -ContentType "application/json"
                if (!($Update.StatusCode -eq 200)) {
                  throw "Failed to update client state: $($Update.StatusCode)"
                }
                Write-Host "Executing command: $command"
                if ($ApprovedCommandsJson.contains($command)) {
                  Invoke-Expression $command
                } else {
                  Write-Output "Command not approved: $command"
                }
              }
            }
            catch {
              Write-Output "Client instructions not done yet: $_"
              Start-Sleep -Seconds 30
            }
          } while (-not $found)
        shell: pwsh

      - name: (Client) Poll for an ip address uploaded by the server, set netperf-peer.
        if: ${{ matrix.role == 'client' }}
        run: |
          $found = $false
          $headers = @{
            "secret" = "${{ secrets.NETPERF_SYNCER_SECRET }}"
          }
          $uri = "https://netperfapiwebapp.azurewebsites.net/getkeyvalue?key=${{ github.run_id }}_ipaddress"
          do {
            Write-Output "Checking for ip address..."
            try {
              $Response = Invoke-WebRequest -Uri $uri -Headers $headers
              if (!($Response.StatusCode -eq 200)) {
                throw "Failed to get ip address. Status code: $($Response.StatusCode)"
              }
              $ipAddress = $Response.Content
              Write-Output "Ip Address found: $ipAddress"
              $serverIp = $ipAddress
              Write-Output "Server IP: $serverIp"
              $found = $true
            }
            catch {
              Write-Output "Ip Address not found: $_"
              Start-Sleep -Seconds 5
            }
          } while (-not $found)

          Write-Host "Setting netperf-peer to $serverIp"
          echo "$serverIp netperf-peer" | sudo tee -a /etc/hosts

        shell: pwsh

      - name: (Client) Checkout microsoft/msquic
        if: ${{ matrix.role == 'client' }}
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          repository: microsoft/msquic
          ref: 'jackhe/1es-azure-pools'

      - name: (Client) Download Watermark_Regression.json file
        if: ${{ matrix.role == 'client' }}
        run: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/microsoft/netperf/sqlite/watermark_regression.json" -OutFile "watermark_regression.json"
        shell: pwsh

      - name: (Client) Run Secnetperf Script
        if: ${{ matrix.role == 'client' }}
        shell: pwsh
        timeout-minutes: 20
        run: ./scripts/secnetperf.ps1 `
            -LogProfile 'NULL' `
            -MsQuicCommit 'TODO' `
            -environment 'azure' `
            -plat 'linux' `
            -os 'ubuntu-18.04' `
            -arch 'x64' `
            -tls 'openssl' `
            -io 'epoll' `
            -filter ''
            -RemotePowershellSupported 'FALSE'
            -RunId ${{ github.run_id }}_state
            -SyncerSecret ${{ secrets.NETPERF_SYNCER_SECRET }}
      - name: (Client) Uploads ACK to shared cache
        if: ${{ matrix.role == 'client' }}
        run: |
          $headers = @{
            "secret" = "${{ secrets.NETPERF_SYNCER_SECRET }}"
          }
          Invoke-WebRequest -Uri "https://netperfapiwebapp.azurewebsites.net/setkeyvalue?key=${{ github.run_id }}_state&value=done" -Headers $headers
        shell: pwsh
