name: network-traffic-performance

# Generic network traffic performance workflow (replaces UDP-specific variant)
on:
  workflow_dispatch:

# concurrency:
#   group: >-
#     traffic-${{ github.event.client_payload.sha || inputs.ref || github.event.pull_request.number || 'main' }}
#   cancel-in-progress: true

jobs:

  test_echo_server:
    name: Network Traffic Test (echo)
    runs-on:
      - self-hosted
      - lab
      - ubuntu-24.04
      - ebpf

    steps:
    - name: Checkout repository
      uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

    - name: Get OS info
      run: |
        hostnamectl
      shell: bash

    - name: Test
      run: |
        ping -c 8 netperf-peer
      shell: pwsh
