name: Observe Lab

on:
  workflow_call:
    inputs:
      lab-matrix:
        description: "Lab jobs to observe"
        required: true
        type: string
      project:
        description: "The project dispatch workflows to"
        required: true
        type: string
jobs:
  lab-observer:
    name: Oracle
    runs-on: windows-latest
    steps:
    - name: Observing Lab State...
      run: |
        ############################################################################################################
        # INITIALIZATION LOGIC

        # State transition table:
        # 0_AWAIT_MASTER_SLAVE_RESET
        # 1_AWAIT_CALLEE_INITIALIZATION
        # 2_AWAIT_CALLEE_COMPLETION
        # 3_COMPLETED

        ############################################################################################################

        $lab_matrix = ConvertFrom-Json ${{ inputs.lab-matrix }}
        $truth_table = @()
        $num_iterations = 0
        $headers = @{
            "Accept" = "application/vnd.github+json"
            "Authorization" = "Bearer ${{ secrets.GITHUB_TOKEN }}"
            "X-GitHub-Api-Version" = "2022-11-28"
        }

        # Initializing truth table
        while ($truth_table.Count -lt $lab_matrix.Count) {
          $jobs = Get-Jobs -runId ${{ github.run_id }}
          foreach ($job in $jobs) {
            foreach ($todo in $lab_matrix) {
              if ($job.name.Contains($todo.env_str)) {
                if ($job.status -eq "completed") {
                  $truth_table += [PSCustomObject]@{
                    "job" = $job
                    "current_state" = "3_COMPLETED"
                    "conclusion" = $job.conclusion
                    "dispatched_workflow_url" = Get-DispatchedWorkflowUrl -job $job
                  }
                } else {
                  $truth_table += [PSCustomObject]@{
                    "job" = $job
                    "current_state" = "0_AWAIT_MASTER_SLAVE_RESET"
                    "conclusion" = ""
                    "dispatched_workflow_url" = ""
                  }
                }
              }
            }
          }
        }

        ############################################################################################################
        # MAIN OBSERVER LOOP
        ############################################################################################################

        while (NotDoneYet) {
          $num_iterations++
          try {
            foreach ($row in $truth_table) {
              switch ($row.current_state) {
                "0_AWAIT_MASTER_SLAVE_RESET" {
                  $assigned_runner = Get-Assigned-Runner -env_str $row.job.env_str
                  if ($assigned_runner) {
                    DispatchCallee -job $row.job -assigned_runner $assigned_runner
                    $row.current_state = "1_AWAIT_CALLEE_INITIALIZATION"
                  }
                }
                "1_AWAIT_CALLEE_INITIALIZATION" {
                  $callee_workflow_url = Get-DispatchedTestRunWorkflowUrl -job $row.job
                  if ($callee_workflow_url) {
                    $row.dispatched_workflow_url = $callee_workflow_url
                    $row.current_state = "2_AWAIT_CALLEE_COMPLETION"
                  }
                }
                "2_AWAIT_CALLEE_COMPLETION" {
                  $callee_status = Get-Run -runId $row.dispatched_workflow_url
                  if ($callee_status.status -eq "completed") {
                    $row.current_state = "3_COMPLETED"
                    $row.conclusion = $callee_status.conclusion
                  }
                }
                "3_COMPLETED" {
                  # Do nothing
                }
              }
            }
            # Update truth table in shared cache
            $key = "${{ github.run_id }}_${{ github.run_attempt }}_truth_table"
            $value = $truth_table | ConvertTo-Json
            $api = "https://netperfapi.azurewebsites.net/setkeyvalue?key=$key&value=$value"
            Invoke-WebRequest -Uri $api -Headers $headers -Method Post
            DisplayTruthTable
            Start-Sleep -Seconds 20
          } catch {
            Write-Host "Observer loop error: $_"
          } 
        }

        ############################################################################################################
        # FUNCTION DEFINITIONS
        ############################################################################################################

        function NotDoneYet {
          // TODO
        }

        function DispatchCallee {
          // TODO
        }

        function Get-DispatchedTestRunWorkflowUrl {
          // TODO
        }

        function DisplayTruthTable {
          // TODO
        }

        function Get-Assigned-Runner {
          // TODO
        }

        function Get-Jobs {
            param([string]$runId)
            $url = "https://api.github.com/repos/microsoft/netperf/actions/runs/$runId/jobs"
            Write-Debug "GET $url"
            return ((Invoke-WebRequest -Uri $url -Method GET -Headers $headers).Content | ConvertFrom-Json).jobs
        }

      shell: pwsh
