name: QUIC

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Build Reference'
        required: false
        default: ''
        type: string
      filter:
        description: 'Test Filter'
        required: false
        default: ''
        type: string
      logprofile:
        description: 'Log Profile'
        required: false
        default: "NULL"
        type: choice
        options:
          - "NULL"
          - Stacks.Light
          - Stacks.Verbose
          - Basic.Light
          - Basic.Verbose
          - Performance.Light
          - Performance.Verbose
          - RPS.Light
          - RPS.Verbose
          - Datapath.Light
          - Datapath.Verbose
          - Full.Light
          - Full.Verbose
      commit:
        description: 'Commit Results'
        required: false
        default: false
        type: boolean
  repository_dispatch:
    types: [run-quic]
      # Args: { guid, sha, ref, pr, logs, filter }

concurrency:
  group: quic-${{ github.event.client_payload.pr || github.event.client_payload.sha || inputs.ref || 'main' }}
  cancel-in-progress: true

permissions: read-all

jobs:
  # For automated identification of the workflow.
  name:
    name: For ${{ github.event.client_payload.guid }}
    if: ${{ github.event_name == 'repository_dispatch' }}
    needs: []
    runs-on: ubuntu-20.04
    steps:
    - run: |
        echo "Parameters from repository_dispatch:"
        echo "guid: ${{ github.event.client_payload.guid }}"
        echo "sha: ${{ github.event.client_payload.sha }}"
        echo "ref: ${{ github.event.client_payload.ref }}"
        echo "pr: ${{ github.event.client_payload.pr }}"
        echo "logs: ${{ github.event.client_payload.logs }}"
        echo "filter: ${{ github.event.client_payload.filter }}"

  #
  # Build Jobs
  #

  build-windows:
    name: Build WinUser
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022']
        tls: [schannel] # , openssl, openssl3]
    uses: microsoft/msquic/.github/workflows/build-reuse-win.yml@main
    with:
      os: ${{ matrix.os }}
      tls: ${{ matrix.tls }}
      build: -Perf
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}

  build-windows-kernel:
    name: Build WinKernel
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022']
    uses: microsoft/msquic/.github/workflows/build-reuse-winkernel.yml@main
    with:
      os: ${{ matrix.os }}
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}

  build-unix:
    name: Build Unix
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-20.04']
        tls: [openssl] # , openssl3]
    uses: microsoft/msquic/.github/workflows/build-reuse-unix.yml@main
    with:
      os: ${{ matrix.os }}
      tls: ${{ matrix.tls }}
      build: -Perf
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}

  #
  # Test Jobs
  #

  run-secnetperf: # This would be 1 enumeration, after CTS has setup the environment with the correct OS type and version.
    name: Run secnetperf
    needs: [build-unix, build-windows, build-windows-kernel]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { env: "azure", plat: "linux",   os: "ubuntu-20.04", arch: "x64", tls: "openssl",  io: "epoll" },
          { env: "azure", plat: "windows", os: "windows-2022", arch: "x64", tls: "schannel", io: "iocp" },
          { env: "azure", plat: "windows", os: "windows-2022", arch: "x64", tls: "schannel", io: "xdp" },
          { env: "azure", plat: "windows", os: "windows-2022", arch: "x64", tls: "schannel", io: "wsk" },
        ]
    runs-on:
    - self-hosted
    - ${{ matrix.vec.env }}
    - ${{ matrix.vec.plat }}
    - ${{ matrix.vec.arch }}
    steps:
    - name: Checkout microsoft/msquic
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/msquic
        ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}
    - name: Download Artifacts
      uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935
      with:
        name: Release-${{ matrix.vec.plat }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-Perf
        path: artifacts
    - name: Download Kernel Artifacts
      uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935
      if: ${{ matrix.vec.io == 'wsk' }}
      with:
        name: Release-winkernel-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}
        path: artifacts
    - name: Run secnetperf
      shell: pwsh
      timeout-minutes: 15 # TODO: Increase as necessary
      run: ./scripts/secnetperf.ps1 `
          -LogProfile ${{ github.event.client_payload.logs || inputs.logprofile || 'NULL' }} `
          -MsQuicCommit ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }} `
          -plat ${{ matrix.vec.plat }} `
          -os ${{ matrix.vec.os }} `
          -arch ${{ matrix.vec.arch }} `
          -tls ${{ matrix.vec.tls }} `
          -io ${{ matrix.vec.io }} `
          -filter '${{ github.event.client_payload.filter || inputs.filter || '' }}'
    - name: Upload Test Results SQL
      if: ${{ always() }}
      uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8
      with:
        name: test-results-${{ matrix.vec.plat }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}.sql
        path: test-results-${{ matrix.vec.plat }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}.sql
    - name: Upload Test Results JSON # Data to populate the various pages of the dashboard. Callers of the Netperf API should specify if we want to update this or not.
      if: ${{ always() }}
      uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8
      with:
        name: json-test-results-${{ matrix.vec.plat }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}.json
        path: json-test-results-${{ matrix.vec.plat }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}.json
    - name: Upload Logs
      if: ${{ always() }}
      uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8
      with:
        name: logs-${{ matrix.vec.plat }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}
        path: artifacts/logs
        if-no-files-found: ignore

  #
  # Post Processing Jobs
  #

  save-test-results:
    permissions: write-all
    name: Persist Results in DB
    needs: [run-secnetperf]
    if: ${{ (github.event_name == 'repository_dispatch' && github.event.client_payload.pr == '') || inputs.commit }}
    strategy:
      fail-fast: false
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/netperf
        ref: sqlite
    - uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935 # Specify no 'name' to download all uploaded artifacts
    - run: ls
    - run: python sql.py
    - name: Git commit # TODO: Squash history for this branch to keep size small
      run: 'git config user.name "QUIC Dev[bot]" && git config user.email "quicdev@microsoft.com" && git add netperf.sqlite && git commit -m "Update SQLite" && git push'

  update-intermediary-dashboard-json:
    permissions: write-all
    name: Update Dashboard Files
    needs: [save-test-results]
    strategy:
      fail-fast: false
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/netperf
        ref: deploy
    - run: 'rm -rf *.json'
    - uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935 # Specify no 'name' to download all uploaded artifacts
    - name: Git commit
      run: 'git config user.name "QUIC Dev[bot]" && git config user.email "quicdev@microsoft.com" && git pull && git add *.json && git commit -m "Update intermediary dashboard files" && git push'
