name: QUIC

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'MsQuic Branch or Commit'
        required: false
        default: 'main'
        type: string
      filter:
        description: 'Custom Test Filter'
        required: false
        default: ''
        type: string
      logprofile:
        description: 'Logging WPR Profile'
        required: false
        default: "NULL"
        type: choice
        options:
          - "NULL"
          - Stacks.Light
          - Stacks.Verbose
          - Basic.Light
          - Basic.Verbose
          - Performance.Light
          - Performance.Verbose
          - RPS.Light
          - RPS.Verbose
          - Datapath.Light
          - Datapath.Verbose
          - Full.Light
          - Full.Verbose
      commit:
        description: 'Publish Results'
        required: false
        default: false
        type: boolean
  pull_request:
    branches:
    - main
    paths:
    - .github/workflows/quic.yml
    - .github/workflows/generate-summary.ps1
  repository_dispatch:
    types: [run-quic]
      # Args: { guid, sha, ref, pr, logs, filter }

concurrency:
  group: quic-${{ github.event.client_payload.pr || github.event.client_payload.sha || inputs.ref || github.event.pull_request.number || 'main' }}
  cancel-in-progress: true

permissions: write-all
jobs:
  # For automated identification of the workflow.
  name:
    name: For ${{ github.event.client_payload.guid }}
    if: ${{ github.event_name == 'repository_dispatch' }}
    needs: []
    runs-on: ubuntu-20.04
    steps:
    - run: |
        echo "Parameters from repository_dispatch:"
        echo "guid: ${{ github.event.client_payload.guid }}"
        echo "sha: ${{ github.event.client_payload.sha }}"
        echo "ref: ${{ github.event.client_payload.ref }}"
        echo "pr: ${{ github.event.client_payload.pr }}"
        echo "logs: ${{ github.event.client_payload.logs }}"
        echo "filter: ${{ github.event.client_payload.filter }}"

  #
  # Build Jobs
  #

  build-windows:
    name: Build WinUser
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022']
        tls: [schannel] # , openssl, openssl3]
    uses: microsoft/msquic/.github/workflows/build-reuse-win.yml@main
    with:
      os: ${{ matrix.os }}
      tls: ${{ matrix.tls }}
      build: -Perf
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}

  build-windows-kernel:
    name: Build WinKernel
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022']
    uses: microsoft/msquic/.github/workflows/build-reuse-winkernel.yml@main
    with:
      os: ${{ matrix.os }}
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}

  build-unix:
    name: Build Unix
    needs: []
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-20.04']
        tls: [openssl] # , openssl3]
    uses: microsoft/msquic/.github/workflows/build-reuse-unix.yml@main
    with:
      os: ${{ matrix.os }}
      tls: ${{ matrix.tls }}
      build: -Perf
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}



  #
  # Create temporary VMs
  #
  create-azure-vms:
    name: Create temporary Azure VMs
    uses: microsoft/netperf/.github/workflows/create-azure-vms.yml@create-azure-machines
    with:
      os: 'windows-2022'
      tag: 'azure-temp'
      vmname1: 'temp-windows-2022-01'
      vmname2: 'temp-windows-2022-02'

  #
  # Test Jobs
  #

  run-secnetperf: # This would be 1 enumeration, after CTS has setup the environment with the correct OS type and version.
    name: secnetperf
    needs: [build-unix, build-windows, build-windows-kernel, create-azure-vms]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          # Azure Ubuntu 20.04
          { env: "azure-ex", os: "ubuntu-20.04", arch: "x64", tls: "openssl",  io: "epoll" },
          # Azure Windows Server 2022
          { env: "azure-temp", os: "windows-2022", arch: "x64", tls: "schannel", io: "iocp" },
          { env: "azure-temp", os: "windows-2022", arch: "x64", tls: "schannel", io: "xdp" },
          { env: "azure-temp", os: "windows-2022", arch: "x64", tls: "schannel", io: "rio" },
          { env: "azure-temp", os: "windows-2022", arch: "x64", tls: "schannel", io: "wsk" },
          # Azure Windows Server 2025 (preview)
          { env: "azure", os: "windows-2025", arch: "x64", tls: "schannel", io: "iocp" },
          { env: "azure", os: "windows-2025", arch: "x64", tls: "schannel", io: "rio" },
          { env: "azure", os: "windows-2025", arch: "x64", tls: "schannel", io: "xdp" },
          { env: "azure", os: "windows-2025", arch: "x64", tls: "schannel", io: "wsk" },
          # Lab Windows Server 2022
          { env: "lab",   os: "windows-2022", arch: "x64", tls: "schannel", io: "iocp" },
          { env: "lab",   os: "windows-2022", arch: "x64", tls: "schannel", io: "xdp" },
          { env: "lab",   os: "windows-2022", arch: "x64", tls: "schannel", io: "wsk" },
          # Lab Ubuntu Server 20.04 LTS
          { env: "lab",   os: "ubuntu-20.04", arch: "x64", tls: "openssl",  io: "epoll" },
        ]
    runs-on:
    - self-hosted
    - ${{ matrix.vec.env }}
    - os-${{ matrix.vec.os }}
    - ${{ matrix.vec.arch }}
    steps:
    - name: Checkout microsoft/msquic
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/msquic
        ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}
    - name: Lowercase runner.os
      shell: pwsh
      run: echo "OS=$('${{runner.os}}'.ToLower())" >> $env:GITHUB_ENV
    - name: Download Artifacts
      uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe
      with:
        name: Release-${{env.OS}}-${{ matrix.vec.os == 'windows-2025' && 'windows-2022' || matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-Perf
        path: artifacts
    - name: Download Kernel Artifacts
      uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe
      if: ${{ matrix.vec.io == 'wsk' }}
      with:
        name: Release-winkernel-${{ matrix.vec.os == 'windows-2025' && 'windows-2022' || matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}
        path: artifacts
    - name: Download Regression.json file
      run: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/microsoft/netperf/sqlite/regression.json" -OutFile "regression.json"
      shell: pwsh
    - name: Download Watermark_Regression.json file
      run: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/microsoft/netperf/sqlite/watermark_regression.json" -OutFile "watermark_regression.json"
      shell: pwsh
    - name: Run secnetperf
      shell: pwsh
      timeout-minutes: 20
      run: ./scripts/secnetperf.ps1 `
          -LogProfile ${{ github.event.client_payload.logs || inputs.logprofile || 'NULL' }} `
          -MsQuicCommit ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }} `
          -environment ${{ matrix.vec.env }} `
          -plat ${{env.OS}} `
          -os ${{ matrix.vec.os }} `
          -arch ${{ matrix.vec.arch }} `
          -tls ${{ matrix.vec.tls }} `
          -io ${{ matrix.vec.io }} `
          -filter '${{ github.event.client_payload.filter || inputs.filter || '' }}'
    - name: Upload Test Results JSON
      if: ${{ always() }}
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
      with:
        name: json-test-results-${{ matrix.vec.env }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}.json
        path: json-test-results-${{ matrix.vec.env }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}.json
    - name: Upload Logs
      if: ${{ always() }}
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
      with:
        name: logs-${{ matrix.vec.env }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}
        path: artifacts/logs
        if-no-files-found: ignore
    - name: Upload Full Latency Curves
      if: ${{ always() }}
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
      with:
        name: latency-${{ matrix.vec.env }}-${{ matrix.vec.os }}-${{ matrix.vec.arch }}-${{ matrix.vec.tls }}-${{ matrix.vec.io }}
        path: latency.txt
        if-no-files-found: ignore

  #
  # Post Processing Jobs
  #

  #
  # Cleanup temporary VMs
  #
  cleanup-azure-vms:
    name: Cleanup temporary Azure VMs
    needs: [run-secnetperf]
    uses: microsoft/netperf/.github/workflows/cleanup-azure-vms.yml@create-azure-machines
    with:
      tag: 'azure-temp'

  generate-summary:
    name: Results
    needs: [run-secnetperf]
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    - uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe
      with:
        path: artifacts/logs
        pattern: json-test-results-*
        merge-multiple: true
    - name: Generate Summary
      shell: pwsh # We never block the workflow if its a git merge or someone manually triggered a run with publish_results = true.
      run: ./.github/workflows/generate-summary.ps1 -BlockOnFailure ${{ github.event.client_payload.pr != '' && !inputs.commit }}

  save-test-results:
    permissions: write-all
    name: Persist Results in DB
    needs: [run-secnetperf]
    if: ${{ (github.event_name == 'repository_dispatch' && github.event.client_payload.pr == '') || inputs.commit }}
    strategy:
      fail-fast: false
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/netperf
        ref: sqlite
    - uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe
      with:
        pattern: json-test-results-*
    - run: python sql.py --featureint 2
    - run: ls
    - name: Git commit
      run: 'git config user.name "QUIC Dev[bot]" && git config user.email "quicdev@microsoft.com" && git add netperf.sqlite && git add full_latencies && git commit -m "Update DB" && git push'

  update-intermediary-dashboard-json:
    permissions: write-all
    name: Update Dashboard Files
    needs: [save-test-results]
    strategy:
      fail-fast: false
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/netperf
        ref: deploy
    - run: 'rm -rf *.json'
    - uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe
      with:
        pattern: "json-test-results-*"
    - run: python generate_historical_data.py
    - name: Git commit
      run: 'git config user.name "QUIC Dev[bot]" && git config user.email "quicdev@microsoft.com" && git pull && git add *.json && git commit -m "Update intermediary dashboard files" && git push'

  regression-detection:
    permissions: write-all
    name: Update Regression Metrics
    needs: [update-intermediary-dashboard-json]
    strategy:
      fail-fast: false
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/netperf
        ref: sqlite
    - run: ls
    - run: python regression.py
    - name: Git commit # TODO: Squash history for this branch to keep size small
      run: 'git config user.name "QUIC Dev[bot]" && git config user.email "quicdev@microsoft.com" && git add *.json && git commit -m "Update regression metrics" && git push'
