name: XDP

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'XDP Branch or Commit'
        required: false
        default: 'main'
        type: string
  pull_request:
    branches:
    - main
    paths:
    - .github/workflows/xdp.yml
  repository_dispatch:
    types: [run-xdp]
      # Args: { guid, sha, ref, pr }

concurrency:
  group: xdp-${{ github.event.client_payload.pr || github.event.client_payload.sha || inputs.ref || github.event.pull_request.number || 'main' }}
  cancel-in-progress: true

permissions: read-all

jobs:
  # For automated identification of the workflow.
  name:
    name: For ${{ github.event.client_payload.guid }}
    if: ${{ github.event_name == 'repository_dispatch' }}
    needs: []
    runs-on: ubuntu-20.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - run: |
        echo "guid: ${{ github.event.client_payload.guid }}"
        echo "sha: ${{ github.event.client_payload.sha }}"
        echo "ref: ${{ github.event.client_payload.ref }}"
        echo "pr: ${{ github.event.client_payload.pr }}"

  build:
    name: Build XDP
    needs: []
    strategy:
      matrix:
        os: ['2022']
        arch: [x64]
      fail-fast: false
    uses: microsoft/xdp-for-windows/.github/workflows/build.yml@main
    with:
      ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      upload_artifacts: true

  test:
    name: Test Windows
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        vec: [
          { env: "lab",   os: "2022", arch: "x64" },
        ]
    runs-on:
    - self-hosted
    - ${{ matrix.vec.env }}
    - os-windows-${{ matrix.vec.os }}
    - ${{ matrix.vec.arch }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - name: Checkout repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      with:
        repository: microsoft/xdp-for-windows
        ref: ${{ github.event.client_payload.sha || github.event.client_payload.ref || inputs.ref || 'main' }}
        sparse-checkout: tools
    - name: Download Artifacts
      uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d
      with:
        name: bin_Release_${{ matrix.vec.arch }} # Build always comes from 2022 for now
        path: artifacts/bin
    - name: Run Tests
      shell: pwsh
      run: tools/two-machine-perf.ps1 -Config Release -Arch ${{ matrix.vec.arch }} -Verbose
    - name: Upload Logs
      if: ${{ always() }}
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
      with:
        name: logs_${{ matrix.vec.env }}_${{ matrix.vec.os }}_${{ matrix.vec.arch }}
        path: artifacts/logs
